@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.header{
  background: #00cc66;
  .top-header{
    padding-top: 5px;
    .logo{
      padding-bottom: -5px;
      img{
        margin-top: -3px;
        width: 77%;
      }
    }
    .timkiem{
      width: 68%;
      height: 30px;
      margin-top: 7px;
      margin-bottom: -9px;
      display: inline-block;
    }
    .search{
      background-color: #f2f2f2;
      padding: 7px 9px;
      margin-left: -8px;
      color: #00cc66;
      font-size: 13px;
      font-weight: 600;
      border: 1px solid #ccc;
      border-left: none;
      padding-bottom: 6.5px;
    }
    .login{
      margin-left: 5px;
      display: inline-block;
      width: 36%;
      height: 100%;
      margin-top: 13px;
      font-weight: 600;
      a{
        font-size: 14px;
      }
      .user_name{
        list-style-type: none;
        background-color: #00cc66;
        position: relative;
        color: white;
        .drop_user{
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 210%;
          background-color: white;
          list-style-type: none;
          padding: 5px;
          z-index:1001;
          li{
            width: 100%;
            a{
              font-weight: 300;
              color: black;
              transition: 0.3s;
            }
            &:hover{
              a{
                padding-left: 3px;
                color: #00cc66;
              }
            }
          }
          .divider{
            width: 100%;
            height: 1px;
            background-color: #f1d1d1;
          }
        }
        &:hover{
          background-color: white;
          color: black;
          .drop_user{
            display: block;
          }
        }
      }
      a{
        color: white;
        font-size: 14px;
        transition: 0.5s;
        &:hover{
          text-decoration: none;
          color:#738e00;
        }
        i{
        font-size: 16px;
        }
      }
    }
    .cart_big{
      padding-left: 8px;
      display: inline-block;
      width: 60%;
      height: 100%;
      font-weight: 600;
      margin-top: 13px;

      .cart{
        width: 20px;
        height: 20px;
        display: inline-block;
        svg{
          width:100%;
        }
      }
      a{
        color: white;
        font-size: 14px;
        transition: 0.5s;
        &:hover{
          text-decoration: none;
          color:#738e00;
        }
        i{
          font-size: 20px;
        }
      }
    }
  }
  .bottom-header{
    background-color: #f2f2f2;
    height: 30px;
    .flag{
      width: 20%;
      margin-left: 10px;
      float: right;
      z-index:1000;
    }
    .menu{
      width: 19%;
      float: left;
      .menu_products{
        background: white;
        padding: 7px 5px;
        font-size: 13px;
        font-weight: 600;
        color: #595959;
        width: 100%;
        height: 30px;
        i{
          margin-right: 4px;
        }
      }
      .list{
        position: relative;
        width: 100%;
        padding-left: 0;
        background-color: white;
        list-style-type: none;
        // display: none;
        li{
          list-style: none;
          height: 30px;
          width: 222px;
          transition: background-color 0s;
          line-height: 32px;
          font-size: 14px;
          display: block;
          cursor: pointer;
          border-bottom: 1px solid #f2f2f2;
          padding-left: 5px;
          color: #000;
          a{
            color: black;
            transition: 0.3s;
          }
            .list-child{
              position: absolute;
              top: 0;
              left: 100%;
              width: 100%;
              height: 100%;
              background-color: #f2f2f2;
              border-left: #00cc66;
              transition: 0.3s;
              display: none;
              color:black;
              padding-left: 0;
              li{
                a{
                  color: black;
                  transition: 0.2s;
                  &:hover{
                    color:#00cc66;
                  }
                }
              }
            }
          &:hover{
            background-color: #00cc66;
            a{
              color: white;
              text-decoration: none;
              padding-left: 20px;
            }
            .list-child{
              display: block;
              li{
                background: #f2f2f2;
              }
            }
          }
        }
      }
    }
  }
}
.clear{
  clear: both;
}
.footer{
  margin-top: 50px;
  .footer-menu{
    width: 100%;
    height: 100px;
    ul{
      margin: 0;
      padding: 0;
     list-style: none;
     .group{
        width: 25%;
        float: left;
        text-transform: capitalize;
        font-weight: 700;
        color: #595959;
        list-style-type: none;
        span{
          font-weight: 800;
          color: #00cc66;
        }
        li{
          list-style: none;
          font-size: 13px;
          color: #3c3737;
          font-weight: normal;
          text-transform: none;
          line-height: 20px;
          padding: 2px;
          width: 100%;
          font-family: arial;
          a{
            color: #3c3737;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .footer-address{
    width: 800px;
    margin: auto;
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .backtotop {
    position: fixed;
    right: 15px;
    bottom: 10px;
    cursor: pointer;
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    background: #fcbf04;
    i{
      line-height: 40px;
      color: white;
      background-color: #fcbf04;
    }
  }
}
.field{
  margin-bottom: 10px;
}
.btn_custom{
  width: 150px;
  background-color: #00cc66;
  color: white;
  border: none;
  transition: 0.3s;
  height: 40px;
  font-size: 16px;
  &:hover{
    background-color: yellowgreen;
  }
}
.form_custom{
  width: 200px;
}
.form_custom_pro{
  width: 500px;
}
.main-detail{
  margin-bottom: 100px;
  .pathway{
    width: 100%;
    height: 25px;
    display: block;
    .path{
      list-style: none;
      line-height: 25px;
      padding: 0;
      margin: 0;
      z-index: 10;
      li{
        float: left;
        font-size: 15px;
        margin-top: 5px;
        color: #999999;
        margin-right: 5px;
        a{
          color: #00cc66;
          padding: 0 10px 0 0;
          text-decoration: none;
          background: url(orange-arrow-r.png) no-repeat right 2px;
          font-family: arial;
        }
      }
    }
  }
  .content-detail {
    margin-top: 20px;
    width: 100%;
    .left {
      width: 22%;
      float: left;
      height: 350px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .right {
      float: left;
      width: 75%;
      height: 350px;
      margin-left: 20px;
      .product-infor {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-left: 73px;
        h1{
          font-size: 21px;
          font-weight: 500;
        }
      }
      .viewfield {
        margin-top: 10px;
        display: flex;
        font-size: 16px;
        .author {
          margin-right: 100px;
          font-weight: 500;
          span{
            color: #00b468;
          }
        }
        .publisher{
          font-weight: 500;
          color: #00b468;
        }
      }
      .prices-container {
        margin-top: 14px;
        width: 100%;
        border-top: 1px solid #e4e4e4;
        display: flex;
        border-bottom: 1px solid #e4e4e4;
        height: 83px;
        padding: 10px 0;
        .price {
          font-size: 35px;
          font-weight: 700;
          color: #00cc66;
          width: 200px;
          overflow: hidden;
          font-family: arial;
        }
      }
      .hethang{
        color:white;border: 1px solid red;
        background:red;
        padding: 5px 10px;
        border-radius: 5px;
      }
      .intro {
        margin-top: 25px;
        span{
          font-size:15px;
          b{
            color: #f37924;
          }
        }
        i{
          color: #00cc66;
          padding-right: 6px;
          font-size: 15px;
        }
      }
    }
    .aboutbook{
      margin-top: 30px;
      .about{
        border-bottom: 1px solid #e4e4e4;
        h3 {
          font-size: 22px;
          text-transform: capitalize;
          font-weight: 400;
        }
      }
      .content{
        p{
          padding-top: 10px;
          text-align: justify;
        }
      }
      .collapse1{
        height: 50px;
        overflow: hidden;
      }
      .viewmore{
        height: 40px;
        width: 400px;
        margin: 10px auto;
        line-height: 40px;
        background-color: #00cc66;
        text-align: center;
        color: white;
        font-weight: 500;
        font-size: 19px;
        &:hover{
          cursor: pointer;
	        background-color: #029243;
        }
      }
    }
  }
}

.rating, .rated {
  .fa-star {
    font-size: 16px;
    &:hover, &.active {
      color: orange;
      cursor: pointer;
    }
  }
}
.content-form{
  margin-bottom: 10px;
}
.wrap-comment {
  span.user {
    font-size: 18px;
    color: blue;
  }
  .image-comment {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
